.myFont {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background: #2d2d2d;
    margin: 0;
    padding: 0;
}
#container{
    background: #ffa826;
    box-shadow: 0 20px 0 #b57412;
    width: 90%;
}
header{
    background: #4c0089;
    padding: 1%;
    border-radius: 0 0 25px 25px;
    text-align: center;
    font-size: 160%;
    color: #fff;
    letter-spacing: 12px;
    box-shadow: 0 16px 0 #36065e
}
#middle{
    display: flex;
    align-items: right;
}
#content{
    color: #fff;
    width: 70%;
}
#content h3{
    padding: 2%;
    letter-spacing: 5px;
    border-radius: 0 30px 30px 0;
    width: 70%;
    background-color: #4c0089;
    font-weight: 600;
    box-shadow: 0 8px 0 #36065e;
    margin-bottom: 8px;
}
#content h3:hover{
    color: #eddafc;
}
#content ul{
    color: #fff;
    background-color: #2d2d2d;
    padding: 5% 0 3% 5% ;
    width: 90%;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 20px 0 #b57412 inset;
    text-shadow: 0 10px 3px #1e1e1e;
    margin: 4% 0 2% 0;
}
#content a{
    display: flex;
    justify-content: left;
    padding-left: 2% ;
    border-radius: 0 30px 30px 0;
    width: 50%;
    background: #4c0089;
    box-shadow: 0 8px 0 #36065e;
    margin-bottom: 8px;
    text-decoration: none;
}
#content a:hover{
    background: #178900;
    box-shadow: 0 8px 0 #095e06;    
}
#content p{
    display: flex;
    align-items: center;
    color: #fff;
    letter-spacing: 4px;
    margin: 0;
}
aside{
    color: #fff;
    width: 30%;
}
.box{
    line-height: 180%;
}
aside .box ul li{
    color: #178900;
}
aside .box ul li a{
    color: #e7e7e7;
    text-shadow: 0 10px 3px #1e1e1e;
    text-decoration: none;
}
aside .box ul li a:hover{
    color: #fff;
    text-shadow: 0 10px 3px black;
}
aside .box h3{
    text-align: right;
    padding: 1%;
    letter-spacing: 5px;
    border-radius: 30px 0 0 30px;
    background-color: #4c0089;
    font-weight: 600;
    box-shadow: 0 8px 0 #36065e;
    margin-bottom: 8px;
}
aside .box h3:hover{
    color: #eddafc;
}
aside .box ul{
    width: 70%;
    padding: 5% 0 3% 10%;
    margin: 6% 0 5% 10%;
    background-color: #2d2d2d;
    border-radius: 20px;
    box-shadow: 0 20px 0 #b57412 inset;
}
footer{
    margin: 1% 19% 0 19%;
    text-align: center;
    color: #36065e;
    background: #4c0089;
    padding: 1%;
    border-radius: 20px 20px 0 0;
    width: 60%;
    box-shadow: 0 20px 0 #36065e;
}
footer:hover{
    color: #fff;
}