.my-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* czyszczenie domyślnych odstępów */
body, h2, h3, p{
    margin: 0;
    padding: 0  ;
}
body{
    display: flex;
    justify-content: center;
    background-color: #202020;
}
#container{
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
}
header{
    background: #f00;
    text-align: center;
    width: 88%;
    padding: 1%;
    margin: 0 5% 8px 5%;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 8px #202020;
    font-size: 140%;
}
/* rozwijane menu - start*/
#navigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0;
    margin: 2% 0 2% 10% ;
    overflow: hidden;
    font-size: 100%;
}
#navigation li{
    width: 24%;
    list-style-type: none;
    background: #98bed8;
}
#navigation li:hover{
    background: #f0f0f0;
}
#navigation li a{
    display : block;
    padding : 5%;
    text-align: center;
    text-decoration : none;
}
#navigation li ul li{
    width: 100%;
}
#navigation li li:hover {
    background: white;
}
#navigation li ul {
    overflow: hidden;
    display: none;
}
#navigation li:hover ul {
    position: absolute;
    background: #aaa;
    padding: 0;
    display: block;
    width: 17.3%;
}
/* koniec */
#middle{
    width: 100%;
    display: flex;
    justify-content: center;
}
#content{
    width: 70%;
    background-color: #0f0;
}
#content h3{
    padding: 2% 2% 2% 5%;
    width: 70%;
    background-color: #00f;
    border-radius: 0 30px 30px 0 ;
}
#content ul{
    padding: 2% 2% 2% 5%;
    margin: 0;
    width: 80%;
    background: #f00;
    border-radius: 0 30px 30px 0 ;
    list-style-type: none;
}
#content a{
    display: block;
    width: 50%;
    background: #00f;
    padding: 0 2% 0 5%;
    border-radius: 0 30px 30px 0;
    
}
#content a p{
    display: flex;
    align-items: center;
}
#content a p img{
    margin-left: 5%;
}


aside{
    width: 30%;
    background-color: #00f;
}
footer{
    width: 100%;
    padding: 1%;
    text-align: center;
}